/* fonts and colors */

.header,
.hero-container,
.footer {
    background: #1f2937;
}

.hero-image {
    background: #e5e7eb;
}

.hero-primary {
    font-size: 28px;
    font-weight: 800px;
    color: #f9faf8;
}

.hero-secondary,
.header-nav li a {
    font-size: 18px;
    color: #e5e7eb;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

button,
.action-call-card {
    background: #3882f6;
    color: #f9faf8;
}

.action-call-text .action-call-header {
    font-size: 20px;
    font-weight: 700;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.info-subtext {
    font-size: 10px;
    color: #65676b;
}

.quote-container {
    background: #e5e7eb;
}

.quote {
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.footer {
    color: #f9faf8;
}

/* no text decoration for links */
a {
    text-decoration: none;
    color: #f9faf8;
}

/* no list styling for lists */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* main styling here */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    height: 100%;
}

button {
    width: 98px;
    height: 38px;
    border: 1px solid #f9faf8;
    border-radius: 0.5em;
    font-weight: 700;
    font-size: 17px;
}

/* header and navigation styling */

.header {
    flex: 1 1 auto;
    display: flex;
    padding: 8px 16px;
}

.header-logo {
    margin: 0 auto 0 0;
}

.header-nav {
    display: flex;
    gap: 16px;
}

/* hero section styling */

.hero-container {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 36px 68px;
}

.hero-content {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 360px;
}

.hero-text p {
    margin: 0;
}

.hero-primary {
    width: 80%;
}

.hero-image,
.hero-content {
    width: 340px;
    height: 180px;
}

.hero-image {
    display: flex;
    justify-content: center;
}

.hero-image img {
    height: 180px;
    width: auto;
}

/* information section styling */

.information {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.info-header {
    flex: 0 1 auto;
    padding: 8px 0;
}

.info-content-container {
    display: flex;
    flex: 0 1 auto;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.info-content {
    width: 168px;
    height: 228px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.info-image {
    width: 158px;
    height: 159px;
}

.info-subtext {
    margin: 0;
}

/* quote section styling */

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-content {
    width: 480px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote-content .quote {
    align-self: flex-start;
    margin: 0;
}

.quote-content .author {
    align-self: flex-end;
    margin: 0;
}

/* call-to-action card section styling */

.action-call-card {
    flex: 0 1 auto;
    margin: 64px 0 64px 0;
    align-self: center;
    padding: 16px 64px;
    display: flex;
    border-radius: 0.5em;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.action-call-text p {
    margin: 0;
}

/* footer section styling */

.footer {
    display: flex;
    height: 64px;
    align-items: center;
    justify-content: center;
}